.container {
  position: relative;
}
.container .video {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0.9;*/
  filter: blur(1px);
  /* max-width: auto; */
  /* height: auto; */
}

.overlay {
  position: relative;
  /* top: 0;
  left: 0; */
  z-index: 1;
}
